*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    /* background-color: black; */
    /* color: white; */
}
.container{
    width: 100%;
}
/* .row{
    display: flex;
} */
p{
    border: 1px solid black;
    margin-bottom: 15px;
    background: white;
    float: left;
    margin: 5px;
    text-align: left;
    padding-left: 2px;
    width: 32.5%;
}
#p1 {
    background-color: #A52A2A;
    overflow: auto;
}
#p2 {
    background-color: #DEB887;
    overflow: auto;

}

#p3{
    background-color: #ad87de;
    overflow: auto;
}
h1{
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}
@media(min-width:768px) and (max-width:991px){
   P{
       width: 50%;
   }
}
@media(min-width:0px) and (max-width:767px){
    p{
        width: 100%;
    }
}
span{
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    margin-left: 45%;
    margin-right: 35%;
}